/* EventList.css */
.event-listing {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
    /* 定义按钮组的样式 */
  .button-group {
    margin-bottom: 20px; /* 或者根据需要调整间距 */
  }

  /* 事件列表的样式 */
  .event-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* 单个事件的样式 */
  .event {
    width: calc(33.333% - 20px); /* 减去的20px是为了考虑间距 */
    margin-bottom: 20px; /* 添加间距在事件之间 */
  }
  
  .event-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  
  .event-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; /* 添加过渡效果 */
  }
  .event-button.clicked {
    background-color: #4CAF50; /* 被点击后的颜色 */
    color: #fff;
  }

  .events-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .event-card {
    flex: 0 0 calc(25% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .event-image {
    height: 150px; 
    background-color: #f0f0f0; 
    margin-bottom: 10px;
  }
  
  .event-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .action-button {
    padding: 5px 25px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  